/* Progressive mods for a super-sub layout on desktop. */

:root {
	--mq-nav-selected-background: var(--mq-nav-background);
}

@media (min-width: 940px) {
	.mq-navigator {
		height: var(--mq-nav-desktop-header-height);
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0 calc((100% - 900px) / 2);

		/** Header bar with logo */

		& header {
			height: var(--mq-nav-desktop-header-height);
			max-width: var(--mq-nav-header-width);
			grid-template-columns: auto 1fr;
			justify-items: left;

			/* Hide mobile menu trigger */
			& i {
				display: none;
			}

			/* Logo */

			& img {
				padding: 0 0 0 10px;
			}
		}

		/* Main nav */

		& nav {
			position: relative;
			top: auto;
			width: auto;
			justify-self: right;
			opacity: 1;
			transition: none;
			padding: 0;
			border: none;
			overflow: visible;
			left: auto;
			padding-top: 13px;

			/* Nav items */

			& ul {
				display: flex;

				& li {
					display: inline-block;

					&.mq-nav-selected-item > * {
						color: var(--mq-nav-color)
					}
				}

				/* Top level nav item */
				&.mq-level-0 {
					& > li > span {
						border: 0 solid rgba(1, 1, 1, 0);
						border-bottom-width: 2px;
						padding: 5px 10px 2px;
					}

					/* Top level selected item */

					& > li.mq-nav-selected > span {
						background: none;
						border-color: #6489de;
					}
				}

				/* Second level nav (hidden by default) */
				&.mq-level-1 {
					position: absolute;
					top: 51px;
					right: 0;
					opacity: 0;
					background: none;
					width: 100%;
					display: grid;
					grid-auto-flow: column;
					justify-content: right;
					grid-gap: 10px;

					/* Second level nav item */
					& > li > span {
						padding: 5px 10px;
						font-size: 15px;
					}
				}

				/* Displayed second level nav */

				.mq-nav-selected > ul.mq-level-1 {
					opacity: 1;
					z-index: 8;
				}
			}
		}
	}
}
