:root {
	--mq-grid-header-background: #555;
	--mq-grid-header-color: white;
	--mq-grid-stripe-background: #eee;
	--mq-grid-padding: 10px;
	--mq-grid-border: solid #ccc 0;
	--mq-grid-border-width: 1px;
}

.mq-grid {
	display: grid;

	/* EDITABLE GRIDS: Remove normal field margins, labels and borders. */
	& .mq-field {
		margin: 0;

		& .mq-input-label {
			display: none;
		}

		.mq-input {
			padding: 0 10px;
			border: none;
			background: none;
		}
	}
}

.mq-grid-header, .mq-grid-row {
	/* Establish nested grid structure. */
	display: grid;
	grid-template-columns: subgrid;

	/* Set up grid borders. */
	border: var(--mq-grid-border);
	border-width: var(--mq-grid-border-width);
	border-top-width: 0;

	& > * {
		border: var(--mq-grid-border);
		border-right-width: var(--mq-grid-border-width);

		&:last-child {
			border-right-width: 0;
		}
	}

	/* Padding for simple span content. */
	& > span {
		padding: var(--mq-grid-padding);
	}
}

/* Configurable colors for header and alternate row striping. */
.mq-grid-header {
	background: var(--mq-grid-header-background);
	color: var(--mq-grid-header-color);
	border: none;
}

:nth-child(even of .mq-grid-row) {
	background: var(--mq-grid-stripe-background);
}

/* Dynamically assign column spans to make the nested grid structure work. */
.mq-grid.mq-cols-1 .mq-grid-row, .mq-grid.mq-cols-1 .mq-grid-header {
	grid-column: 1 / span 1;
}

.mq-grid.mq-cols-2 .mq-grid-row, .mq-grid.mq-cols-2 .mq-grid-header {
	grid-column: 1 / span 2;
}

.mq-grid.mq-cols-3 .mq-grid-row, .mq-grid.mq-cols-3 .mq-grid-header {
	grid-column: 1 / span 3;
}

.mq-grid.mq-cols-4 .mq-grid-row, .mq-grid.mq-cols-4 .mq-grid-header {
	grid-column: 1 / span 4;
}

.mq-grid.mq-cols-5 .mq-grid-row, .mq-grid.mq-cols-5 .mq-grid-header {
	grid-column: 1 / span 5;
}

.mq-grid.mq-cols-6 .mq-grid-row, .mq-grid.mq-cols-6 .mq-grid-header {
	grid-column: 1 / span 6;
}

.mq-grid.mq-cols-7 .mq-grid-row, .mq-grid.mq-cols-7 .mq-grid-header {
	grid-column: 1 / span 7;
}

.mq-grid.mq-cols-8 .mq-grid-row, .mq-grid.mq-cols-8 .mq-grid-header {
	grid-column: 1 / span 8;
}

.mq-grid.mq-cols-9 .mq-grid-row, .mq-grid.mq-cols-9 .mq-grid-header {
	grid-column: 1 / span 9;
}

.mq-grid.mq-cols-10 .mq-grid-row, .mq-grid.mq-cols-10 .mq-grid-header {
	grid-column: 1 / span 10;
}
