.mq-field.mq-media-field {
	border: var(--mq-input-border);
	border-radius: 2px;
	padding: 10px;
	margin: 10px 0;
	color: #999;
	min-height: 50px;
}

.mq-field:not(.mq-checkbox-field).mq-media-field .mq-input-label {
	top: 10px;
	left: 30px;
}

.mq-field.mq-media-field input {
	display: none;
}

.mq-media-preview {
	display: grid;
	justify-content: center;
	grid-template-rows: auto;
}

.mq-media-preview object {
	max-height: 300px;
}

input[accept=".pdf"] + .mq-media-preview {
	grid-template-columns: 1fr;
}

input[accept=".pdf"] + .mq-media-preview object {
	height: 300px;
	width: 100%;
}


