.mq-field.mq-file-input-field {
	border: var(--mq-input-border);
	border-radius: 2px;
	padding: 10px;
	margin: 10px 0;
	color: #999;
	min-height: 50px;
}

.mq-field:not(.mq-checkbox-field).mq-file-input-field .mq-input-label {
	top: 10px;
	left: 30px;
}

.mq-field.mq-file-input-field input {
	display: none;
}

.mq-media-preview {
	display: grid;
	justify-content: center;
	grid-template-rows: auto;
}

.mq-pdf-viewer {
	height: 1110px;
}

iframe {
	width: 100%;
	border: none;
}
