* {
	box-sizing: border-box;
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
}

.mq-form {
	padding: 10px 20px;
}

.mq-label {
	display: block;
	padding: 10px 0;
}

.mq-input {
	display: block;
	margin-top: 5px;
	padding: 10px 15px;
	font-size: 16px;
	border: solid 1px #ccc;
	border-radius: 5px;
	width: 100%;
}

.mq-error-field {
	background: pink;
	border: solid 1px red;
}

.mq-error-msg {
	display: block;
	margin-top: 5px;
	color: red;
}
