* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

html,
body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
